Repository Open-Science-Community-Saudi-Arabia/MOOCs, pull requests merged in 2022-11, with the labels that each got.

#110 [01/11/2022] Backend API [feat]: Enrolled course
  backend_API/src/controllers/course.controllers.js
  backend_API/src/models/course.models.js
  backend_API/src/models/user.models.js
  backend_API/src/routes/course.routes.js
Labels: outreachy, ready to merge, backend development

#111 [01/11/2022] Backend API [feat] - API documentation for AUTH routes
  backend_API/src/API doc/MOOCs.postman_collection.json
Labels: outreachy, ready to merge, backend development

#115 [11/07/2022] Backend API - Add cloudinary to dependencies
  backend_API/package-lock.json
  backend_API/package.json
Labels: backend development

#90 Update readme.md to include important info
  README.md
Labels: ready to merge, frond-end

#37 [17/10/2022]Develop Header and Footer Section
  .gitignore
  Frontend/index.html
  Frontend/package.json
  Frontend/src/GlobalStyles.css
  Frontend/src/components/Footer/Footer.jsx
  Frontend/src/components/Footer/footer.css
  Frontend/src/components/Navbar/Navbar.jsx
  Frontend/src/components/Navbar/navbar.css
  Frontend/src/pages/landing-page/LandingPage.jsx
  Frontend/yarn.lock
Labels: ready to merge, frond-end

#43 [17/10/2022] Develop the landing Page
  Frontend/.eslintrc.js
  Frontend/package.json
  Frontend/public/images/Mask Group.png
  Frontend/public/images/course1.png
  Frontend/public/images/course2.png
  Frontend/public/images/course3.png
  Frontend/public/images/hero-1.jpg
  Frontend/public/images/ring1.png
  Frontend/public/images/ring2.png
  Frontend/public/images/testimonial1.png
  Frontend/public/vectors/certificate.svg
  Frontend/public/vectors/training.svg
  Frontend/public/vectors/user.svg
  Frontend/src/GlobalStyles.css
  Frontend/src/components/Button/Button.jsx
  Frontend/src/components/Carousel/Carousel.css
  Frontend/src/components/Carousel/Carousel.jsx
  Frontend/src/components/Course/Course.jsx
  Frontend/src/components/Course/CourseStyle.css
  Frontend/src/components/Footer/Footer.jsx
  Frontend/src/components/Footer/footer.css
  Frontend/src/components/Learningwidget/LearningWidget.css
  Frontend/src/components/Learningwidget/LearningWidget.jsx
  Frontend/src/components/Navbar/Navbar.jsx
  Frontend/src/components/Navbar/navbar.css
  Frontend/src/components/Records/RecordStyle.css
  Frontend/src/components/Records/Records.jsx
  Frontend/src/components/TestimonialCard/Testimonial.css
  Frontend/src/components/TestimonialCard/Testimonial.jsx
  Frontend/src/components/vectors/Certificate.jsx
  Frontend/src/components/vectors/Course.jsx
  Frontend/src/components/vectors/GlobalIcon.jsx
  Frontend/src/components/vectors/LeftArrow.jsx
  Frontend/src/components/vectors/Play.jsx
  Frontend/src/components/vectors/Ratings.jsx
  Frontend/src/components/vectors/RightArrow.jsx
  Frontend/src/components/vectors/Time.jsx
  Frontend/src/components/vectors/Training.jsx
  Frontend/src/components/vectors/UsersIcon.jsx
  Frontend/src/pages/landing-page/LandingPage.jsx
  Frontend/src/pages/landing-page/landingpage.css
  Frontend/src/utils/data.js
  Frontend/yarn.lock
Labels: frond-end

#121 added authentication for sign-up page
  Frontend/.eslintrc.js
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/GlobalStyles.css
  Frontend/src/components/Spinner/index.jsx
  Frontend/src/components/Spinner/spinner.css
  Frontend/src/pages/auth/signup/index.jsx
  Frontend/src/pages/auth/style.css
  Frontend/src/utils/api/auth.js
  Frontend/src/utils/api/index.js
  Frontend/src/utils/constants/index.js
  Frontend/src/utils/index.js
  Frontend/yarn.lock
Labels: MOOCs, frond-end

#119 [12/11/2022] BACKEND API - PROJECT CONTRIBUTION GUIDE
  backend_API/CONTRIBUTING.md
  backend_API/src/utils/config.js
Labels: documentation

#134 [29/11/2022] Change password reset authentication flow
  backend_API/package.json
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/models/authcode.models.js
  backend_API/src/models/user.models.js
  backend_API/src/routes/auth.routes.js
  backend_API/src/utils/auth_codes.js
  backend_API/src/utils/config.js
  backend_API/src/utils/email.js
  backend_API/src/utils/jwt_handler.js
Labels: outreachy, backend development
