Repository Open-Science-Community-Saudi-Arabia/MOOCs, pull requests merged in 2022-10, with the labels that each got.

#15 Frontend Project Setup
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/.vscode/settings.json
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: outreachy

#14 [12/10/2022]: Backend API (feat) - Project structure
  .gitignore
  backend_API/package-lock.json
  backend_API/package.json
  backend_API/src/app.js
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/db/connectDB.js
  backend_API/src/middlewares/auth.js
  backend_API/src/middlewares/permissions.js
  backend_API/src/models/admin.models.js
  backend_API/src/models/course.models.js
  backend_API/src/models/password.models.js
  backend_API/src/models/user.models.js
  backend_API/src/routes/auth.routes.js
  backend_API/src/routes/routes_handler.js
  backend_API/src/server.js
  backend_API/src/utils/async_wrapper.js
  backend_API/src/utils/config.js
Labels: outreachy, MOOCs

#21 Added frontend_project structure
  .gitignore
  Frontend/index.html
  Frontend/package.json
  Frontend/public/vite.svg
  Frontend/src/App.css
  Frontend/src/App.jsx
  Frontend/src/assets/react.svg
  Frontend/src/components/landing-page/index.jsx
  Frontend/src/components/landing-page/style.css
  Frontend/src/index.css
  Frontend/src/main.jsx
  Frontend/vite.config.js
  Frontend/yarn.lock
Labels: outreachy, ready to merge

#31 add login-page , signup page , add routing and improve file structure
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.css
  Frontend/src/App.jsx
  Frontend/src/GlobalStyles.css
  Frontend/src/components/landing-page/index.jsx
  Frontend/src/components/landing-page/style.css
  Frontend/src/index.css
  Frontend/src/main.jsx
  Frontend/src/pages/landing-page/LandingPage.jsx
  Frontend/src/pages/landing-page/landingpage.css
  Frontend/src/pages/login/Login.jsx
  Frontend/src/pages/login/login.css
  Frontend/src/pages/signup/Signup.jsx
  Frontend/src/pages/signup/signup.css
  Frontend/src/utils/Routing.jsx
  Frontend/yarn.lock
Labels: outreachy, MOOCs, ready to merge

#32 [15/10/2022]: Backend API [feat] - users db model
  backend_API/src/models/admin.models.js
  backend_API/src/models/password.models.js
  backend_API/src/models/user.models.js
Labels: outreachy, MOOCs, ready to merge

#34 [15/10/2022]: Backend API [feat] - async function wrappers and error handlers
  backend_API/src/app.js
  backend_API/src/middlewares/error_handler.js
  backend_API/src/routes/routes_handler.js
  backend_API/src/utils/async_wrapper.js
  backend_API/src/utils/custom_errors.js
Labels: outreachy, MOOCs, ready to merge

#39 [17/10/2022] : removed packages not needed
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/pages/login/Login.jsx
  Frontend/src/pages/signup/Signup.jsx
  Frontend/yarn.lock
Labels: MOOCs, ready to merge

#49 [18/10/2022]: Backend API [feat] - Social signin with Google
  backend_API/package-lock.json
  backend_API/package.json
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/routes/auth.routes.js
  backend_API/src/utils/config.js
Labels: ready to merge

#25 [15/10/2022] Backend API - Created Course/Video Database Models
  backend_API/src/models/category.models.js
  backend_API/src/models/course.models.js
  backend_API/src/models/password.models.js
  backend_API/src/models/user.models.js
Labels: ready to merge, backend development

#69 Setup husky and lint-staged
  Frontend/.eslintignore
  Frontend/.eslintrc.js
  Frontend/.husky/pre-commit
  Frontend/.husky/pre-push
  Frontend/.prettierignore
  Frontend/.prettierrc.json
  Frontend/lint-staged.config.js
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/GlobalStyles.css
  Frontend/src/main.jsx
  Frontend/src/pages/landing-page/LandingPage.jsx
  Frontend/src/pages/landing-page/landingpage.css
  Frontend/src/pages/login/Login.jsx
  Frontend/src/pages/login/login.css
  Frontend/src/pages/signup/Signup.jsx
  Frontend/src/pages/signup/signup.css
  Frontend/src/utils/Routing.jsx
  Frontend/vite.config.js
  Frontend/yarn.lock
Labels: ready to merge, frond-end

#65 fixed grammer & punctuation in CONTRIBUTING.md #64
  CONTRIBUTING.md
Labels: bug

#62 admin can delete a course and user can get all courses
  .all-contributorsrc
  CONTRIBUTING.md
  README.md
  backend_API/package-lock.json
  backend_API/package.json
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/controllers/courses.controller.js
  backend_API/src/models/category.models.js
  backend_API/src/models/course.models.js
  backend_API/src/models/password.models.js
  backend_API/src/models/user.models.js
  backend_API/src/routes/auth.routes.js
  backend_API/src/routes/course.routes.js
  backend_API/src/routes/routes_handler.js
  backend_API/src/utils/config.js
Labels: backend development

#71 [21/10/2022] : Backend API [feat] - Unit tests
  .gitignore
  backend_API/package-lock.json
  backend_API/package.json
  backend_API/src/app.js
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/db/connectDB.js
  backend_API/src/models/category.models.js
  backend_API/src/models/course.models.js
  backend_API/src/models/user.models.js
  backend_API/src/routes/course.routes.js
  backend_API/src/server.js
  backend_API/src/test/0database.test.js
  backend_API/src/test/auth.test.js
  backend_API/src/utils/config.js
Labels: outreachy, backend development

#81 [22/10/2022] : Backend API [feat] - Auth unit tests (continuation)
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/middlewares/auth.js
  backend_API/src/middlewares/error_handler.js
  backend_API/src/models/course.models.js
  backend_API/src/models/password.models.js
  backend_API/src/models/test_token.models.js
  backend_API/src/models/user.models.js
  backend_API/src/routes/auth.routes.js
  backend_API/src/test/auth.test.js
  backend_API/src/test/courses.test.js
  backend_API/src/utils/config.js
  backend_API/src/utils/email.js
Labels: outreachy, backend development

#92 [26/10/2022]: Backend API [feat] - Verify email
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/middlewares/auth.js
  backend_API/src/models/test_token.models.js
  backend_API/src/models/user.models.js
  backend_API/src/routes/auth.routes.js
  backend_API/src/test/auth.test.js
Labels: outreachy, ready to merge, backend development

#94 [26/10/2022] Backend API [feat] : Exercise schema model
  backend_API/src/models/course.models.js
Labels: outreachy, backend development

#97 [27/10/2022] Backend API [feat] - Update course
  backend_API/src/controllers/courses.controller.js
  backend_API/src/models/course.models.js
  backend_API/src/routes/course.routes.js
Labels: outreachy, ready to merge, backend development

#100 [27/10/2022] Backend API [feat] - CRUD operations for Videos
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/controllers/course.controllers.js
  backend_API/src/controllers/courses.controller.js
  backend_API/src/models/course.models.js
  backend_API/src/routes/course.routes.js
  backend_API/src/utils/email.js
Labels: outreachy, ready to merge, backend development

#103 [27/10/2022]: Backend API [feat] - Get data for course
  backend_API/src/controllers/course.controllers.js
Labels: outreachy, ready to merge, backend development

#104 [28/10/2022] Backend API [feat] - Course exercises CRUD
  backend_API/src/controllers/course.controllers.js
  backend_API/src/controllers/exercise.controllers.js
  backend_API/src/routes/course.routes.js
  backend_API/src/routes/exercise.routes.js
  backend_API/src/routes/routes_handler.js
Labels: outreachy, ready to merge, backend development

#106 [29/10/2022] Backend API [feat] - CRUD for questions
  backend_API/src/controllers/exercise.controllers.js
  backend_API/src/controllers/question.controllers.js
  backend_API/src/models/course.models.js
  backend_API/src/routes/course.routes.js
  backend_API/src/routes/exercise.routes.js
  backend_API/src/routes/question.routes.js
  backend_API/src/routes/routes_handler.js
Labels: outreachy, ready to merge, backend development

#109 [31/10/2022] Backend API [fix] - Failed authentication test
  backend_API/package.json
  backend_API/src/controllers/auth.controllers.js
  backend_API/src/controllers/course.controllers.js
  backend_API/src/controllers/question.controllers.js
  backend_API/src/middlewares/permission_handler.js
  backend_API/src/routes/course.routes.js
  backend_API/src/routes/exercise.routes.js
  backend_API/src/test/auth.test.js
Labels: outreachy, backend development
